<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h4><span style="font-family: 'Monotype Corsiva','STLiti','Libre Baskerville','Centaur', serif;font-size: 35px;font-weight: 700;">Tanmay Singh</span>&nbsp;<small>(scOut)</small></h4>
                <p><span style="font-weight: 500;">Currently organization:</span> S8UL</p>
                <p><span style="font-weight: 500;">Ex team:</span> godl, fanatic, IND , TX</p>
                <p><span style="font-weight: 500;">MVP:</span> PUBG mobile world champion with team 7sea eSports</p>
                <p><span style="font-weight: 500;">Achievement:</span> World championship #2 from OR eSports</p>
                <a href="https://m.facebook.com/100049261375443/" target="_blank">
                    <img src="./assets/socialMedia/facebook.png" alt="" style="height: 40px;margin-left: 5px;">
                </a>
                
                <img src="./assets/socialMedia/instagram.png" alt="" style="height: 32px;margin-right: 5px;">

                <a href="https://youtube.com/@sc0utOP" target="_blank">
                    <img src="./assets/socialMedia/youtube.png" alt="" style="height: 30px;width: 35px;margin-right: 3px;">
                </a>
                
                <img src="./assets/socialMedia/twitter.png" alt="" style="height: 40px;margin-right: 5px;">

                <a href="https://loco.gg/streamers/scoutop" target="_blank">
                    <img src="./assets/socialMedia/loco.jpg" alt="" style="height: 30px;border-radius: 15px;margin-right: 10px;">
                </a>

                <img src="./assets/socialMedia/rooter.jpg" alt="" style="height: 30px;border-radius: 15px;border: 2px solid black;margin-right: 7px;">

                <img src="./assets/socialMedia/discord.png" alt="" style="height: 35px;">
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="col-sm-12">
                    <img src="./assets/image/scout.jpeg" alt="" style="height: 350px;width: 300px;border: 2px solid #ff4081;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>